#activities {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  color: $secondary-color;
  padding: 4rem;

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.75rem;
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.activities {
  @include flex(center, flex-start, row wrap);
  width: 100%;
  gap: 0.25rem;
  max-width: 1140px;
  margin: 8rem auto;

  a {
    @include flex(center, center);
    border-radius: 8px;
    width: 14rem;
    aspect-ratio: 1;
    color: #fff;
    background-color: lighten($secondary-color, 40%);
    border: 4px solid transparent;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.75;
    transition: all 1s ease;

    &:hover,
    &:active {
      border-color: lighten($secondary-color, 40%);
      background-color: lighten($secondary-color, 20%);
      transition: $transition;

      em {
        transform: scale(1.15);
      }
    }
  }
}

.bodybuilding,
.cardio,
.crossfit {
  position: relative;
  width: 60%;
  max-width: 1200px;
  aspect-ratio: 16/9;
  padding: 0 4rem;

  strong {
    @include flex(center, center);
    width: fit-content;
    font-size: 2vw;
    background-color: black;
    color: #fff;
    padding: 0 0.5rem;
    position: absolute;
  }

  img {
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  }
}

.bodybuilding {
  strong {
    &:first-of-type {
      top: 4rem;
      left: -2rem;
    }

    &:last-of-type {
      bottom: 4rem;
      right: -6rem;
    }
  }
}

.cardio {
  strong {
    &:first-of-type {
      top: 4rem;
      left: -2rem;
    }

    &:last-of-type {
      bottom: 4rem;
      right: -2rem;
    }
  }
}

.crossfit {
  strong {
    top: 4rem;
    right: -2rem;
  }

  + .crossfit {
    strong {
      right: unset;
      left: -2rem;
    }
  }
}

.bodybuilding,
.crossfit {
  margin-left: 4rem;
}

.cardio,
.crossfit + .crossfit {
  margin: 10rem 4rem 10rem auto;
}

.crossfit + .crossfit {
  margin-bottom: 6rem;
}
